/*------------------------------------*\
    Box content
\*------------------------------------*/

.c-content-inbox {
  &-kiri {
    &-atas {
      border: solid 1px rgba(112, 112, 112, 0.3);
      padding: 20px;

      .form-control {
        border: none;
        background-color: #f9f9f9;
      }
    }

    &-bawah {
      border: solid 1px rgba(112, 112, 112, 0.3);
      border-top: none;
      padding-top: 20px;
      padding-bottom: 30px;
      min-height: 600px;
      max-height: 600px;
      overflow-x: auto;

      .active {
        box-shadow: 0 14px 35px 0 rgba(195, 202, 220, 0.29);
      }

      h5 {
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 5px;
      }

      img {
        max-height: 45px;
      }

      .card-body {
        padding: 15px;

        .card__custom_order_global {
          min-height: unset !important;
        }
      }

      .media {
        cursor: pointer;
      }

      a {
        color: #979797;
      }
    }
  }

  &-kanan {
    &-atas {
      // border: solid 1px rgba(112, 112, 112, 0.3);
      padding: 12.5px 1.5rem;
      padding-left: 0;
      border-left: none;

      // h5 {
      // &:after {
      //   width: 11px;
      //   height: 11px;
      //   background-color: #0dad8e;
      //   border-radius: 50%;
      //   content: '';
      //   position: absolute;
      //   margin-left: 0.5rem;
      // }
      // }

      .row.showProfile {
        padding-left: 5.2rem;
      }

      .backChatlist {
        font-size: 2rem;
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: -13px;
        width: 80px;
        padding: 25px;
        z-index: 1;
        cursor: pointer;

        i.fas {
          z-index: 1;
        }
      }
    }

    &-bawah {
      // border: solid 1px rgba(112, 112, 112, 0.3);
      border-top: none;
      border-left: none;
      min-height: 600px;
      max-height: 600px;
      position: relative;

      img {
        max-height: 45px;
      }

      .media-body {
        line-height: 20px;
      }

      .card {
        .card__custom_order_global {
          min-height: unset !important;
        }
      }

      .chat-detail {
        padding: 30px;
        max-height: 433px;
        overflow-x: auto;
      }

      .chat-textarea {
        position: absolute;
        bottom: 1rem;
      }
    }

    &-samping {
      // border: solid 1px rgba(112, 112, 112, 0.3);
      border-left: none;
      border-top: none;
      padding: 30px;

      img {
        max-width: 100px;
      }

      .stat {
        h5 {
          font-size: 14px;
        }
      }
    }
  }
}

.absolute-frame {
  position: absolute;
  width: 100%;
  .header {
    border: solid 1px rgba(112, 112, 112, 0.3);
    border-left: none;
    height: 5rem;
  }
  .body {
    display: flex;
    .left-body {
      border: solid 1px rgba(112, 112, 112, 0.3);
      //   max-height: 433px;
      height: 37.5rem;
      width: 58.5%;
      border-left: none;
      border-top: none;
    }
    .right-body {
      width: 41.5%;
      border: solid 1px rgba(112, 112, 112, 0.3);
      border-left: none;
      border-top: none;
    }
  }
}

// .mobile-chat-right {
//   z-index: 1;
//   position: absolute;
//   background-color: #fff;
//   width: 100%;
//   height: 80%;
// }

@media (max-width: 991.98px) {
  .absolute-frame {
    display: none;
  }
  .c-content-inbox {
    &-kiri {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &.view-hide {
        -webkit-transform: translateX(-992px);
        transform: translateX(-992px);
      }

      &.view-chatList {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }

      &-atas {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }

      &-bawah {
        border: 0;
      }
    }

    &-kanan {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: absolute;
      height: 78%;
      overflow: overlay;

      &.view-hide {
        -webkit-transform: translateX(992px);
        transform: translateX(992px);
      }

      &.view-chatDetail {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }

      &-atas {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        z-index: 1;
        background-color: #ffffff;

        .showProfile {
          cursor: pointer;
        }
      }

      &-bawah {
        border: 0;
      }

      &-samping {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: fixed;
        background-color: #ffffff;
        border: 0;
        box-shadow: 0 14px 35px 0 rgba(195, 202, 220, 0.29);
        padding: 3rem 5.4rem !important;

        &.view-hide {
          -webkit-transform: translateY(-992px);
          transform: translateY(-992px);
        }

        &.view-profile {
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          z-index: 0;
        }

        .closeProfileView {
          font-size: 2.5rem;
          position: absolute;
          right: 1.5rem;
          margin-top: -1.5rem;
          cursor: pointer;
        }
      }
    }
  }

  .navbar.navbar-expand-lg.navbar-light.px-lg-4 {
    z-index: 1;
    background-color: #ffffff;
  }
}
